################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backendsln/.vs
/backendsln/backend/bin/Debug/net9.0
/backendsln/backend/obj
/.vs
